name: Docker Image CI

on:
  push:
    branches: 
      - master
      - develop
  pull_request:
    branches: 
      - master
      - develop

jobs:

  push-to-registry:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Planner API image

      env: 
       TAG: ${{ secrets.PLANNER_TAG }}
      run: docker build -f "Services/Planner/Planner.Web/Dockerfile" -t $TAG .
