name: .NET workflows

on:
  push:
    branches: 
      - master 
      - develop
  pull_request:
    branches: 
      - master 
      - develop    

jobs:
  build-app:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  dockerizing:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Planner API image

      env: 
       TAG: ${{ secrets.PLANNER_TAG }}
      run: docker build -f "Services/Planner/Planner.Web/Dockerfile" -t $TAG .
