name: .NET workflow

on:
  push:
    branches: 
      - master 
      - develop
  pull_request:
    branches: 
      - master 
      - develop    

jobs:
  build-app:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
  dockerizing:
  
    needs: build-app
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Planner API image

      env: 
       PROD_TAG: ${{ secrets.PLANNER_PROD_TAG }}
       DEV_TAG: ${{ secrets.PLANNER_DEV_TAG }}
      run: |
          if [[ "${{github.base_ref}}" == "master" || "${{github.ref}}" == "refs/heads/master" ]]; then
            docker build -f "Services/Planner/Planner.Web/Dockerfile" -t $PROD_TAG .
          fi

          if [[ "${{github.base_ref}}" == "develop" || "${{github.ref}}" == "refs/heads/develop" ]]; then
            docker build -f "Services/Planner/Planner.Web/Dockerfile" -t $DEV_TAG .
          fi

    - name: Login to Docker Hub
    - uses: docker/login-action@v1
    - with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
